<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <div class="wallpaper">
  
  </div>
  <div class="row justify-content-center logo-row">
      <div class="col-4">
        <img src="assets/smash-title.svg" alt="Smash Bross Ultimate" class="logo">
      </div>
  </div>   
  <div class="row justify-content-center">
    <div class="col-6 col-md-3 text-center">
      <input type="text" [(ngModel)]="player" placeholder="escriba el jugador..." > 
      <button class="btn btn-dark" (click)="addPlayer()"><i class="fa fa-plus-square text-success"></i></button>
    </div>
    <div class="col-6 col-md-3">
      <button class="btn btn-dark" (click)="generate()" >Generar</button>    
      <button *ngIf="users.length>0" class="btn btn-dark ml-1" (click)="clean()">Limpiar</button>
      <button *ngIf="players.length>0" class="btn btn-dark mt-1" (click)="cleanPlayers()">Borrar Caracteres</button>
    </div>
  </div>
  <hr>
  <div class="row justify-content-center">
    <div class="col-6 col-md-3">
      <ul>
        <li class="player bg-dark" *ngFor="let item, of users; let idx = index"> 
          {{idx+1}}# Jugador 
          <div [className]="colors[idx]" class=" text-dark">
           {{item}} 
           <span class="float-right cursor-pointer" (click)="openBanModal(content, idx)">
            <i class="fa fa-ban"></i>
           </span>
          </div>
        </li>  
      </ul>
    </div>
    <div class="col-6 col-md-4">
      <ul>
        <li class="player bg-dark  fadeInRight delay-1s animated" *ngFor="let item, of players; let idx = index">
          Cararacter para  {{idx+1}}# Jugador
          <div [className]="colors[idx]" class=" text-dark">
            {{item}}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- modal-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Banne Player</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   Haga click sobre el personaje que desea bannear.
   <div>
     <span class="badge badge-warning mr-2 cursor-pointer" *ngFor="let item of list; let idx = index" (click)="setBanPlayer(idx)">{{item}}</span>
   </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
  </div>
</ng-template>
